*{
  margin: 0px;
 }

body{
  background-color: black;
}

header{
  position: fixed;
  text-align: center;
  text-decoration: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;

}
.logo{
  float: left;
  height: 40px;
  width: 40px;
  margin-left: 0;
}

nav li{
  display: inline-block;
  padding-top: 18px;
  padding-right: 50px;
 }

nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

nav a:hover{
  color: red;
}
.text-box{
  text-transform: uppercase;
  padding-top: 300px;
  padding-left: 50px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
}

.text-box .mainlogo{
  height: 80px;
  width: 80px;
  position: absolute;
  top: 280px;
  left: 380px;
}

.links{
padding-top: 50px;
padding-left: 150px;
float: left;
display: flex;
align-items: center;
justify-content: center;
}

.projects{
  color: white;
}

.projects p{
    white-space: nowrap;
    width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.projects p:hover{
  overflow: visible;
}

#me{
  padding-top: 200px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portrait{
  border-radius: 50%;
  vertical-align: text-top;
}

#info{
  position: relative;
  padding-left: 20px;
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}
