body{
  background-color: lightgray;
}

.navig a {
  padding: 10px;
  text-decoration: none;
  color: black;
  float: right;
  flex: 20px;
}

.navig{
  align-content: flex-end;
}

h1{
  text-transform: uppercase;
}